@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400; /* or 700 for bold */
}
.duration-5000 {
  transition-duration: 2000ms;
}
